/*This file contains the html elements' resizing with change in size of viewport which is set using media queries*/
.udlogo, 
.auth-name-header-class, 
.header4, 
.selfimg, 
.intro-para-class {
	order: 10;
}

@media screen and (min-width: 270px) {
	.udlogo {
		width: 75%;
		margin-right: 0.5em;
		order: -1;
		position: relative;
	}
	
	.auth-name-header-class {
		font-size: 25px;
		order:1;
		font-style: bold;
		position: relative;
	}

	.header4 {
		font-size: 16px;
		order: 2;
		position: relative;
	}

	.selfimg {
		width: 100%;
		order: 3;
		position: relative;
	}

	.intro-para-class{
		font-size: 16px;
		order: 4;
	}

	.feature-work-header-class {
		font-size: 20px;
	}

	.web-based-trailer-img-class {
		width: 100%;
		max-height: 100%;
	}

	.mask h4 {
		font-size: 1em;
		padding: 2px;
		margin: 5px 10px 5px 5px;
	}

	.mask .btn {
		margin: 5px 0px 3px 0px;
	}

	.mask p {
		font-size: 1em;
		padding: 2px;
	}
}

@media screen and (min-width: 330px) {
	.mask h4 {
		font-size: 1em;
		padding: 5px;
		margin-top: 10px 20px 30px 20px;
	}

	.mask .btn {
		margin: 20px 0px 10px 0px;
	}

	.mask p {
		font-size: 1em;
		padding: 2px;
	}
}

@media screen and (min-width: 401px) {
	.udlogo {
		width: 50%;
		margin-right: 0.5em;
		order: -1;
	}

	.auth-name-header-class {
		font-size: 35px;
		order:0;
	}

	.header4 {
		font-size: 20px;
		order: 2;
	}

	.selfimg {
		display: inline-block;
		position: relative;
		margin: 5px;
		width: 100%;
		order: 3;
	}

	.intro-para-class{
		font-size: 18px;
		order: 4;
	}

	.feature-work-header-class {
		font-size: 22px;
	}

	.wb-mv-display-header-class {
		font-size: 18px;
	}

	.mask h4 {
		font-size: 1.2em;
		padding: 10px;
		margin-top: 15px 20px 15px 20px;
	}

	.mask .btn {
		margin: 20px 0px 15px 0px;
	}

	.mask p {
		font-size: 1em;
		padding: 5px;
	}
}

@media screen and (min-width: 550px) {
	.udlogo {
		width: 40%;
		order: -1
	}

	.auth-name-header-class {
		font-size: 40px;
		order:0;
	}

	.header4 {
		font-size: 25px;
		order: 1;
	}

	.selfimg {
		display: inline-block;
		position: relative;
		width: 80%;
		order: 2;
	}
	
	.intro-para-class{
		font-size: 20px;
		order: 3;
	}

	.feature-work-header-class {
		font-size: 25px;
	}

	.mask h4 {
		font-size: 1.5em;
		padding: 10px;
		margin-top: 15px 10px 15px 10px;
	}

	.mask .btn {
		margin: 80px 0px 20px 0px;
	}

	.mask p {
		font-size: 1em;
		padding: 10px;
	}
}

@media screen and (min-width: 991px) {
	.web-based-trailer-img-class {
		width: 100%;
		max-height: 240px;
	}
}

@media screen and (min-width: 1170px) {
	.container {
		width: 1170px;
		margin-right: auto;
		margin-left: auto;
	}

	.udlogo {
		width: 20%;
	}

	.selfimg {
		display: inline-block;
		position: relative;
		width: 60%;
		order: 3;
	}
	.web-based-trailer-img-class {
		max-width: 100%;
		max-height: 290px;
	}
}